<div id="mapbox">
    <br>
    <h3><%= link_to plane.make, plane_path(plane)%> </h3>
    <br>
    <p>Rate: $<%= plane.rate %>/day</p>
    <br>
    <p>Location: <%= plane.location %></p>
    <br>
</div>
