
<div class="banner" style="background-image: linear-gradient(rgba(180, 150, 1, 0.3),rgba(180, 150, 1, 0.3)), url('https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg');">
  <div class="banner-content">
    <h1>Planes</h1>
    <h2>Book your plane</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @planes.each do |plane| %>
      <%= link_to plane_path(plane) do %>
        <div class="col-sm-4">
          <div class="card-wrapper">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1494489002073-cc547946d945?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=299619dc16ca0c5cfea8750b84065cbf&auto=format&fit=crop&w=1350&q=80');">
            </div>
              <div class="card-description">
                <h2><%= plane.make %></h2>
                <p><%= plane.rate %>
                <p>See details</p>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <p> <%= link_to "Add a plane", new_plane_path, class: "btn btn-primary btn-lg" %></p>
  </div>
  <div id="map"></div>
</div>

<div class="footer">
  <div class="footer-copyright">

    Cheers from Le Wagon Amsterdam <i class="fa fa-heart"></i>
  </div>
</div>


