
<div class="banner" style="background-image: linear-gradient(rgba(180, 150, 1, 0.3),rgba(180, 150, 1, 0.3)), url('https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg');">
  <div class="banner-content">
    <h1>Planes</h1>
    <h2>Book your plane</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @planes.each do |plane| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= plane.picture %>');">
          <div class="card-description">
            <p>Model: <%= plane.make%>, Rate: <%= plane.rate %> $/day</p>
                <p>See details</p>
          </div>
        </div>
      <% end %>
    <% end %>
    <p> <%= link_to "Add a plane", new_plane_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>


