<div class="banner" style="background-image: url('<%= @plane.picture %>');">
</div>
<div class="description">
    <h1><%= @plane.make %></h1>
    <h2><%= @plane.description %></h2>
    <p><%= @plane.rate %></p>
</div>

