<div class="container"> <%= simple_form_for [@plane, @rental] do |f| %>
        <%= f.input :starts_at %>
        <%= f.input :ends_at %>
        <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
