<!-- 1 - what to show in this page?
2 - details of plane you rented -->

<!--
<div class="show-container">
  <h1 class="text-center padded">Details of your booking!</h1>
    <div class="info-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
        </div>

      <h1><%= @plane.make %></h1>
      <p>From <%= @rental.starts_at %> to <%= @rental.ends_at %>



</div> -->

<h1>This is the show page for rentals</h1>


