<<html>
<body>
  <%= render 'shared/navbar' %>
  <div>
    <a href="#">Cessan 182</a>
    <a href="#">Tommy PA 38</a>
    <a href="#">Cessna 152</a>
  </div>
  <div class="card-description">
    <p>"description here"</p>
  </div>

</body>
</html>
