.main-container {
  display: flex;
  margin-top: 25px;
  margin-left: 30px;
}
.container {
}

.cards-container {
  flex: 2 0 0;
  margin-right: 10px;
}
.card-wrapper {
  position: relative;
}

// background-size: cover;
// background-position: center;
// color: white;
// height: 150px;
// border-radius: 1px;
// margin: 15px 10px;
// display: flex;
// align-items: center;
// justify-content: space-around;
// font-size: 24px;
// text-align: center;
// padding: 50px;
// font-weight: bolder;

.card {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  font-size: 24px;
  text-align: center;
  padding: 50px;
  font-weight: bolder;
  color: #E6E8E6;
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(0.4);
    // opacity: 0.6;
  }
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-description {
  color: black;
  // position: absolute;
  bottom: 1px;
  left: 5px;

  & h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    // opacity: 0.9;

  }

  & h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    // opacity: 0.2;
  }

  & p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    opacity: 0.6;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;

  &:hover {
    opacity: 0.1;
  }
}

.btn {
  background-color: #0D0628;
  border-color: transparent;
  border-radius: 4px;

  // transition: filter, 0.3, ease;

  &:hover {
    background-color: #0D0628;
    border-color: transparent;


  }
}


.row {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}


#map {
  flex: 1 0 0;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  border: solid black 2px;
  margin-bottom: 10px;
}

#mapbox {
    max-width: 500px;
    max-height: 500px;
  }

.awesome-links {
  color: #0D0628;
  text-decoration: none;

  &:hover {
    color: #475657;
    text-decoration: none;
    border-color: transparent;
  }

}
