.main-container {
  display: flex;
  margin-top: 25px;
  margin-left: 30px;
}
.container {
}

.cards-container {
  flex: 2 0 0;
  margin-right: 10px;
}
.card-wrapper {
  position: relative;
}

.card-container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}


.card {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  height: 240px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  font-size: 24px;
  text-align: center;
  padding: 50px;
  font-weight: bolder;
  color: #E6E8E6;
  // transition: filter 0.3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    // filter: brightness(0.4);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // opacity: 0.6;
  }
}



.card-description {
  color: white;
  position: absolute;
  bottom: 1px;
  left: 5px;

  & h2 {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 20px;
    // opacity: 0.9;

  }

  & h3 {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 14px;
    // opacity: 0.2;
  }

  & p {
    font-family: 'Hind Guntur', sans-serif;
    font-size: 10px;
    opacity: 0.6;
  }
}




.row {
  font-family: 'Hind Guntur', sans-serif;
  text-align: center;
}


#map {
  flex: 1 0 0;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  margin-bottom: 10px;
}

#mapbox {
    max-width: 500px;
    max-height: 500px;
  }

.awesome-links {
  color: #0D0628;
  text-decoration: none;

  &:hover {
    color: #475657;
    text-decoration: none;
    border-color: transparent;
  }

}

.card-row {
  text-align: left;
}

