.page-container h1 {
  font-family: 'Julius Sans One', sans-serif;
}


.page-container h3 {
  font-family: 'Julius Sans One', sans-serif;
}

.page-container p {
  font-family: 'Hind Guntur', sans-serif;
  padding: 10px;
}

.fas {
  font-size: 30px;
  color: #252E7F;
}

.page-container {
  background-color: #F0EDE4;
  margin-top: 80px;
  padding: 10px;
}

.wrapper {
  background-color: #F0EDE4;
}

#about {
  background-color: #F0EDE4;
}

body {
  background-color: #F0EDE4;
  color: #5B5356;
}

// .three-steps-main {
//   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// }
